<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="userCompetencyDao" class="com.ganshar.match.dao.impl.UserCompetencyDaoImpl" parent="baseDao" />
	<bean id="jobCompetencyDao" class="com.ganshar.match.dao.impl.JobCompetencyDaoImpl" parent="baseDao" />
</beans>