<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="jobDao" class="com.ganshar.job.dao.impl.JobDaoImpl" parent="baseDao" />
	<bean id="jobAbilityDao" class="com.ganshar.job.dao.impl.JobAbilityDaoImpl" parent="baseDao" />
	<bean id="funcRankGrowthDao" class="com.ganshar.job.dao.impl.FuncRankGrowthDaoImpl" parent="baseDao" />
	<bean id="funcRankDao" class="com.ganshar.job.dao.impl.FuncRankDaoImpl" parent="baseDao" />
	
</beans>