<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="jobService"
		class="com.ganshar.job.service.impl.JobServiceImpl">
		<property name="jobDao">
			<ref bean="jobDao" />
		</property>
		<property name="jobAbilityDao">
			<ref bean="jobAbilityDao" />
		</property>
		<property name="majorAbilityDao">
			<ref bean="majorAbilityDao" />
		</property>	
		<property name="abilityDao">
			<ref bean="abilityDao" />
		</property>		
	</bean>
	
	<bean id="growthService"
		class="com.ganshar.job.service.impl.GrowthServiceImpl">
		<property name="funcRankGrowthDao">
			<ref bean="funcRankGrowthDao" />
		</property>
		<property name="educateGrowthDao">
			<ref bean="educateGrowthDao" />
		</property>		
	</bean>

	<bean id="funcRankService"
		class="com.ganshar.job.service.impl.FuncRankServiceImpl">
		<property name="funcRankDao">
			<ref bean="funcRankDao" />
		</property>
		<property name="funcRankGrowthDao">
			<ref bean="funcRankGrowthDao" />
		</property>
		<property name="funcRankConvertDao">
			<ref bean="funcRankConvertDao" />
		</property>
	</bean>
	
	<bean id="opportunityService"
		class="com.ganshar.job.service.impl.OpportunityServiceImpl">
		<property name="opportunityDao">
			<ref bean="opportunityDao" />
		</property>
	</bean>
</beans>