<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="userPriceService"
		class="com.jobms.match.service.impl.UserPriceServiceImpl">
		<property name="userPriceDao">
			<ref bean="userPriceDao" />
		</property>
	</bean>
	
	<bean id="jobPriceService"
		class="com.jobms.match.service.impl.JobPriceServiceImpl">
		<property name="jobPriceDao">
			<ref bean="jobPriceDao" />
		</property>
	</bean>
	
	<bean id="userJobMatchService"
		class="com.jobms.match.service.impl.UserJobMatchServiceImpl">
		<property name="userJobMatchDao">
			<ref bean="userJobMatchDao" />
		</property>
	</bean>
</beans>