<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="jobService"
		class="com.ganshar.job.service.impl.JobServiceImpl">
		<property name="jobDao">
			<ref bean="jobDao" />
		</property>
		<property name="jobAbilityDao">
			<ref bean="jobAbilityDao" />
		</property>
	</bean>
	
	<bean id="funcRankGrowthService"
		class="com.ganshar.job.service.impl.FuncRankGrowthServiceImpl">
		<property name="funcRankGrowthDao">
			<ref bean="funcRankGrowthDao" />
		</property>
	</bean>

	<bean id="funcRankService"
		class="com.ganshar.job.service.impl.FuncRankServiceImpl">
		<property name="funcRankDao">
			<ref bean="funcRankDao" />
		</property>
	</bean>
</beans>